.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}


/*.modal-header,
.close {
    background-color: #eea236;
    color: white !important;
    text-align: center;
    font-size: 1.1em;
    padding: 35px 50px;
}

.modal-body {
    padding: 40px 50px;
}

.modal-footer {
    background-color: #f9f9f9;
    padding: 0px 40px;
    margin: 10px 0 10px;
}*/

.gg {
    margin: 10px 0 10px;
    text-align: center;
}

.wp {
    color: #fe6711;
}

.wp:hover {
    color: red;
    text-decoration: underline;
}

@media (min-width: 767px) {
    .modal-log {
        text-align: center;
        padding: 0!important;
    }
    .modal-log:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        /* margin-right: -4px;*/
    }
    .modal-dialog-log {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 400px;
    }
}
